*{
	margin-top: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
       background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(3.png);
	   height: 400vh;
	   background-size: cover;
	   background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: white;
	padding: 10px 40px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: white;
	color: black;

}

ul li.active a{
	background-color: white;
	color: black;
}

.main{
	max-width: 1200;
	margin: auto;
}

.title{
	position: absolute;
	top: 20%;
      left: 50%;
      transform: translate(-50%,-50%);
}


.title h2{
	font-size: 50px;
	text-decoration: none;
	color: red;
	padding: 10px 40px;
	border: 2px solid transparent;
	transition: 0.6s ease;

}
.title h1{
	color: lightgreen;
	font-size: 70px;


}


.box {
	position: absolute;
	top: 200%;
    left: 50%;
      transform: translate(-50%,-50%);
}